# IDEs
.idea/

# Hugo
public/
cv/
createbib.py

*.bib
.DS_Store
**/.DS_Store
content/publication/mypublications.bib
content/publication/new.bib
*.txt
content/home/.Rhistory
createbib.py
public
public/404.html
public/index.html
public/index.xml
public/news/index.html
public/publication/bucaioni-2021/index.html
public/publication/garcia-2018/index.html
public/publication/groner-2024-aias/index.html
public/publication/index.html
public/publication/index.xml
public/publication/kasauli-2020/index.html
public/publication/knauss-2018-t-reqs/index.html
public/publication/maro-2016/index.html
public/publication/maro-2020/index.html
public/publication/matthies-2023/index.html
public/publication/steghofer-2019/index.html
public/publication/svensson-2024/index.html
public/publication/welzel-2024-ares/index.html
public/publication/welzel-2024-seaa/index.html
public/publication/wohlrab-2014/index.html
public/publication/wohlrab-2016/index.html
public/publication/wohlrab-2017/index.html
public/publication/wohlrab-2018-icssp/index.html
public/publication/wohlrab-2018-reen/index.html
public/publication/wohlrab-2018-refsq/index.html
public/publication/wohlrab-2019-icsa-interface/index.html
public/publication/wohlrab-2019-icsa-survey/index.html
public/publication/wohlrab-2019-jsme/index.html
public/publication/wohlrab-2020-ieee-software/index.html
public/publication/wohlrab-2020-jss/index.html
public/publication/wohlrab-2020-modeling/index.html
public/publication/wohlrab-2021-refsq/index.html
public/publication/wohlrab-2022-seams/index.html
public/publication/wohlrab-2023-jss/index.html
public/publication/wohlrab-2024-profes/index.html
public/publication/wohlrab-2024-refsq/index.html
public/publication_types/index.html
public/publication_types/index.xml
public/research/index.html
public/service/index.html
public/sitemap.xml
public/teaching/index.html
*.html
