// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
.home-section{
    padding: 45px 0 40px 0;
}

.featured-image {
  position: relative;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}